streamlit
SpeechRecognition
Sastrawi
transformers
wordcloud
matplotlib
moviepy
altair
appnope
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
fsspec
gitdb
GitPython
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
MouseInfo
moviepy
mpmath
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
platformdirs
proglog
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
PyAutoGUI
pydeck
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
pytesseract
python-dateutil
pytweening
pytz
PyYAML
pyzmq
pydub
referencing
regex
requests
rich
rpds-py
rubicon-objc
safetensors
Sastrawi
setuptools
six
smmap
SpeechRecognition
stack-data
streamlit
sympy
tenacity
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
wheel
wordcloud
zipp
streamlit-webrtc
